@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');



body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 99999;
    background-color: whitesmoke;
    padding: 35px 45px;
    height: 14%;
}

header .container {
    -webkit-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: #FF9671;
}

header .logo a span {
    color: #FF6F91;
    font-weight: 700;
}

header .nav {
    position: fixed;
    background-color: #0081CF;
    width: 400px;
    top: 0px;
    right: 0px;
    height: 100%;
    z-index: 99;
    padding: 150px 0px 15px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

header .nav.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .nav ul li {
    display: block;
}

header .nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color: #FF9671;
    font-family: 'Indie Flower', cursive;
    display: block;
    position: relative;
    padding: 15px 60px;
}

header .nav ul li a.active::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #FFC75F;
    opacity: 0.2;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
    z-index: -1;
}

header .nav ul li a::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    background-color: #FFC75F;
    opacity: 0.2;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
    z-index: -1;
}

header .nav ul li a:hover::before {
    width: 100%;
}

header .ham-burger{
	display: inline-block;
	position: relative;
	z-index: 100;
}

header .ham-burger span{
	height: 3px;
	margin-bottom:8px;
	display: block;
	background-color:#FF9671; 
	width:30px;
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}

header .ham-burger span:nth-child(1){
	transform-origin: left top;
}

header .ham-burger span:nth-child(2){
	transform-origin: left bottom;
}

header .ham-burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) /*translateY(-6px)*/;
    transform: rotate(45deg) /*translateY(-6px)*/;
}

header .ham-burger.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg) /*translateY(6px)*/;
    transform: rotate(-45deg) /*translateY(6px)*/;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.home {
    height: 100vh;
    background-image: url(../assets/xps-4TBSG2Oqu0Q-unsplash.jpg);
    background-size: cover;
    padding: 145px;
    -webkit-display: flex;
    display: flex;
    position: relative;
}

.home .go-down {
    position: absolute;
    bottom: 50px;
    width: 26px;
    height: 40px;
    border: 1px solid #FF9671;
    display: block;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    margin-left: -13px;
}

.home .go-down .fa-angle-down {
    color: #FF9671;
    -webkit-animation: goDown 1s ease infinite;
    animation: goDown 1s ease infinite;
}

@-webkit-keyframes goDown {
    0%
    {
        transform: translateY(0);
        opacity: 0;
    }
    100%
    {
        transform: translateY(12px);
    }
}

@keyframes goDown {
    0%
    {
        transform: translateY(0);
        opacity: 0;
    }
    100%
    {
        transform: translateY(12px);
    }
}

.home .container {
    -webkit-display: flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home h1 {
    color: #DD132D;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

.home h1 span {
    color: #E40066;
}

.about {
    padding: 80px 0px;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.about .container h2 {
    align-items: center; 
    justify-content: center; 
    display: block;
    padding-left: 400px;
    font-weight: 900 bolder; 
    font-size: 3rem; 
    color: blueviolet;
}

.about .content {
    -webkit-display: flex;
    display: flex;
}

.about .content .box {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.about .content .box .inner {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 50px;
    transition: all 0.2s;
}

.about .content .box:nth-child(2) .inner {
    background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
    border-radius: 50px;
}

.about .content .box .inner:hover {
    z-index: 20;
    box-shadow: 0 8px 50px #2C73D2;
    transform: scale(1.05);
}

.about .content .box .inner .img img {
    width: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.about .content .box .inner .text {
    padding: 20px 5px;
}

.about .content .box .inner .text h4 {
    font-size: 24px;
    text-decoration: center;
    margin: 0;
    padding: 0px 0px 15px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500 bolder;
    color: #2C73D2;
    text-align: center;
}

.about .content .box .inner .text p {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 20px;
    color: #FBEAFF;
    margin: 0;
    font-weight: 300;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.service {
    padding: 80px 15px;
    background-image: url(../assets/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg);
    background-size: cover;
}

.service .content {
    -webkit-display: flex;
    display: flex;
}

.service .content .box {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.service .content .text h2 {
    font-size: 80px;
    font-weight: 500 bolder;
    color: #0081CF;
    padding: 0px 0px 20px;
}

.service .content .text p {
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 34px;
    color: #FFC75F;
    margin: 0;
    padding: 0px 0px 20px;
    font-weight: 900 bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.service .content .text .btn {
    padding: 8px 30px;
    background-color: #DD132D;
    color: #FFC75F;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service .content .text .btn:hover {
    border: 1px solid transparent;
    color: whitesmoke;
    background-color: #2C73D2;
}

.service .content .accordian-container {
    margin-bottom: 5px;
}

.service .content .accordian-container .head {
    background-color: #FF9671;
    position: relative;
    padding: 12px 15px;
    cursor: pointer;
}

.service .content .accordian-container .head .fa {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #008F7A;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
}

.service .content .accordian-container .head h4 {
    font-size: 24px;
    text-decoration: center;
    margin: 0;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500 bolder;
    color: #2C73D2;
    text-align: center;
}

.service .content .accordian-container.active .head {
    background-color: #D65DB1;
}

.service .content .accordian-container .body {
    display: none;
    padding: 5px;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    border-top: 1px solid #D65DB1;
    text-align: center;
    justify-content: center;
}

.service .content .accordian-container:nth-child(1) .body {
    display: block;
}

.service .content .accordian-container .body p {
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 14px;
    color: yellow;
    margin: 10px;
    padding: 10px 0px 20px;
    font-weight: 700 bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.price {
    padding: 80px 0;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.price h2 {
    font-size: 80px;
    font-weight: 500 bolder;
    color: #0081CF;
    padding: 0 0 20px;
    text-align: center;
}

.price .title-p {
    letter-spacing: 1px;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    color: #333;
    margin: 0;
    padding: 0px 2% 50px;
    font-weight: 900 bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.price .content {
    -webkit-display: flex;
    display: flex;
}

.price .content .box {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.price .content .box .inner {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border-radius: 20px;
    min-height: 100%;
    transition: all 0.2s ease-in-out;
}

.price .content .box .inner:hover {
    z-index: 20;
    box-shadow: 0 8px 50px #da0ccf;
    transform: scale(1.05);
}

.price .content .box .inner .price_tag {
    padding: 15px;
    font-size: 20px;
    background-color: #333;
    color: honeydew;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.price .content .box .inner .text {
    padding: 30px 15px;
    text-align: center;
    line-height: 25px;
}

.price .content .box .inner h3 {
    font-size: 24px;
    color: #c71893;
    margin: 0;
    padding: 0 0 20px;
    font-weight: 500;
}

.price .content .box .inner h4 {
    font-size: 17px;
    color: #0089BA;
    margin-bottom: 25px;
}

.price .content .box .inner p {
    letter-spacing: 1px;
    text-align: center;
    font-size: 28px;
    line-height: 35px;
    color: #333;
    margin: 0;
    padding: 0px 0px 10px;
    font-weight: 900 bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.price .content .box .inner .img img {
    width: 100%;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333333;
}

.client .testimonials {
    position: relative;
    max-width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
}

.client .testimonials .swiper-container .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    min-height: 350px;
    margin: 0 20px;
    background: whitesmoke;
    border-radius: 20px;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.client .testimonials .card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #4B4453;
    padding: 60px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 18px;
}

.client .testimonials .card .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    z-index: 1;
    transition: 0.5s;
}

.client .testimonials .card:hover .layer {
    top: 0;
}

.client .testimonials .card .content {
    position: relative;
    z-index: 2;
}

.client .testimonials .card .content p {
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 24px;
    margin-bottom: 20px;
    color: thistle;
}

.client .testimonials .card .content .imgBx {
    width: 100px;
    height: 100px;
    margin: 0 auto 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.client .testimonials .card .content h2 {
    font-size: 20px;
    color: #FF9671;
    font-family: 'Dosis', sans-serif;
}

.client .testimonials .card .content h2 span {
    color: #2C73D2;
    font-size: 14px;
    transition: 0.5s;
}

.client .testimonials .card:hover .content h2 span {
    color: #fbfcdb;
}

.team {
    padding: 10rem 0;
    background-color: whitesmoke;
}

.team a {
    text-decoration: none;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

.team .heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}

.team .heading::after {
    content: '';
    width: 10rem;
    height: 0.8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.team .card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.team .card {
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
    border-radius: 20px;
}

.team .card .card-img {
    width: 100%;
    height: 28rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.team .card .profile-img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.team .card h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.team .job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

.team .about-team {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.team .card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all 0.5s;
}

.team .card .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.2);
    background-color: #DD132D;
}

.team .card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.team .social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.team .social-media i {
    font-size: 3rem;
    transition: color 0.5s;
}

.team .social-media .fa-facebook-square {
    color: #0077C9;
}

.team .social-media .fa-instagram-square {
    color: #EC60AA;
}

.team .social-media .fa-linkedin {
    color:#0061ED;
}

.team .social-media .fa-twitter-square {
    color: #00D3E8;
}

/*.team .social-media .fa-facebook-square:hover,
.team .social-media .fa-instagram-square:hover,
.team .social-media .fa-linkedin:hover,
.team .social-media .fa-twitter-square:hover {
    color: #45e19f transparent;
}*/

.contact {
    padding: 80px 0;
    background-image: url(../assets/pexels-photo-3874719.jpeg);
    background-size: cover;
}

.contact .content {
    -webkit-display: flex;
    display: flex;
}

.contact .content .box {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 50px;
}

.contact .content .form input, 
.contact .content .form textarea {
    height: 45px;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 25px;
    background-color: transparent;
    border: 1px solid #FF6F91;
    font-family: 'Dosis', sans-serif;
    color: #FFC75F;
    font-size: 15px;
    resize: none;
}

.contact .content .form input:focus, 
.contact .content .form textarea:focus {
    outline: none;
    border-color: #D65DB1;
}

.contact .content .form input::placeholder, 
.contact .content .form textarea::placeholder {
    color: #ffffff;
}

.contact .content .form textarea {
    height: 100px;
}

.contact .content .form button {
    border: none;
    outline: none;
    box-shadow: none;
    height: 45px;
    padding: 0 50px;
    background-color: #c1125c;
    color: #FFC75F;
    font-weight: 900;
    font-size: 20px;
    transition: all 0.5s ease;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
}

.contact .content .form button:hover {
    background-color: #FFC75F;
    color: #333;
}

.contact .content .text h2 {
    font-size: 45px;
    font-weight: 500 bolder;
    color: #D65DB1;
    padding: 0 0 20px;
}

.contact .content .text p {
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 35px;
    color: #f05117;
    margin: 0;
    padding: 0px 0px 40px;
    font-weight: 900 bolder;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.contact .content .text .info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact .content .text .info li {
    display: block;
    margin-bottom: 25px;
    color: #FBEAFF;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 20px;
    position: relative;
    padding-left: 40px;
    font-family: 'Dosis', sans-serif;
}

.contact .content .text .info li span {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0px;
    font-size: 30px;
    color: #c1125c;
}

.contact .content .text .social {
    padding-top: 30px;
    align-items: center;
    text-align: center;
}

.contact .content .text .social a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #D65DB1;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
}

.contact .content .text .social a:hover {
    transform: scale(1.2);
}

.contact .content .text .social .fa-instagram-square {
    color: #333333;
    font-size: 53px;
    margin-top: -6px;
    margin-left: -4px;
}

.contact .copy {
    border-top: 1px solid #FF9671;
    color: #FF8066;
    margin-top: 50px;
    padding-top: 20px;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
}

.contact .copy1 {
    border-top: 1px solid #FF9671;
    color: #FF8066;
    margin-top: 50px;
    padding-top: 20px;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    display: none;
}

@media screen and (min-width: 700px) {
    .team .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .team .card {
        margin: 2rem;
        transition: transform 0.5s;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .team .card::nth-child(1) {
        animation: fadeIn 0.5s 0.5s backwards;
    }
    .team .card::nth-child(2) {
        animation: fadeIn 0.5s 1s backwards;
    }
    .team .card::nth-child(3) {
        animation: fadeIn 0.5s 1.5s backwards;
    }
    .team .card::nth-child(4) {
        animation: fadeIn 0.5s 2s backwards;
    }
    .team .card:hover {
        transform: scale(1.05);
    }
}

@media screen and (min-width: 319px) {
    .team .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .team .card {
        margin: 2rem;
        transition: transform 0.5s;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .team .card::nth-child(1) {
        animation: fadeIn 0.5s 0.5s backwards;
    }
    .team .card::nth-child(2) {
        animation: fadeIn 0.5s 1s backwards;
    }
    .team .card::nth-child(3) {
        animation: fadeIn 0.5s 1.5s backwards;
    }
    .team .card::nth-child(4) {
        animation: fadeIn 0.5s 2s backwards;
    }
    .team .card:hover {
        transform: scale(1.05);
    }
}

@media(max-width: 991px) {
    .home {
        background-position: center;
    }
}

@media(max-width: 768px) {
    header .logo a {
        font-size: 40px;
    }
    .home h1 {
        font-size: 40px;
    }
    .about .content {
        flex-wrap: wrap;
    }
    .about .container h2 {
        display: none;
    }
    .about .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service .content{
        flex-wrap: wrap;
    }
    .service .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .price .content{
        flex-wrap: wrap;
    }
    .price .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .content{
        flex-wrap: wrap;
    }
    .contact .content .box {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .copy {
        display: none;
    }
    .contact .copy1 {
        display: inline-block;
        justify-content: center;
    }
    .contact .content .text .info li {
        font-size: 13px;
    }
}

@media(max-width: 550px) {
    header .logo a {
        font-size: 30px;
    }
    .home h1 {
        font-size: 30px;
    }
    header .nav ul li a {
        padding: 10px 100px;
    }
}

@media(max-width: 321px) {
    header .logo a {
        font-size: 20px;
    }
    .contact .content .form button {
        font-size: 15px;
    }
    .contact .content .text .info li {
        font-size: 10px;
    }
}